^(.*/)?app\.yaml
^(.*/)?app\.yml
^(.*/)?#.*#
^(.*/)?.*~
^(.*/)?.*\.py[co]
^(.*/)?.*/RCS/.*
^(.*/)?\..*
^(.*/)?tests$
^(.*/)?test$
^test/(.*/)?
^COPYING.LESSER
^README\..*
\.gitignore
\.travis.yml
\gae.json.enc
^(.*/)?.lock
^(.*/)?.log
\gatsby-config.js
\gatsby-node.js
\gatsby-ssr.js
\README.md
\LICENSE
^\.git/.*
^node_modules/(.*/)?
^src/(.*/)?
^.cache/(.*/)?
